/AdventureWorks/AdventureWorks.IntegrationTest/obj
/AdventureWorks/AdventureWorks.Model/obj
/AdventureWorks/AdventureWorks.UnitTest/obj
/AdventureWorks/AdventureWorks.IntegrationTest/obj
/AdventureWorks/AdventureWorks.Infrastructure/obj
/AdventureWorks/AdventureWorks.DataAccess/obj
obj
obj
obj
obj
obj
/AdventureWorks/AdventureWorks.IntegrationTest/Log/integrate_test.log
