/AdventureWorks/AdventureWorks.IntegrationTest/obj
/AdventureWorks/AdventureWorks.Model/obj
/AdventureWorks/AdventureWorks.UnitTest/obj
/AdventureWorks/AdventureWorks.IntegrationTest/obj
/AdventureWorks/AdventureWorks.Infrastructure/obj
/AdventureWorks/AdventureWorks.DataAccess/obj
obj
obj
obj
obj
obj
/AdventureWorks/AdventureWorks.IntegrationTest/Log/integrate_test.log
/AdventureWorks/AdventureWorks.DataAccess/bin/Debug/AdventureWorks.Model.pdb
/AdventureWorks/AdventureWorks.DataAccess/bin/Debug/AdventureWorks.DataAccess.dll
/AdventureWorks/AdventureWorks.DataAccess/bin/Debug/AdventureWorks.DataAccess.dll.config
/AdventureWorks/AdventureWorks.DataAccess/bin/Debug/AdventureWorks.DataAccess.pdb
/AdventureWorks/AdventureWorks.DataAccess/bin/Debug/AdventureWorks.Infrastructure.dll
/AdventureWorks/AdventureWorks.DataAccess/bin/Debug/AdventureWorks.Infrastructure.pdb
/AdventureWorks/AdventureWorks.DataAccess/bin/Debug/AdventureWorks.Model.dll
/AdventureWorks/AdventureWorks.Infrastructure/bin/Debug/AdventureWorks.Infrastructure.dll
/AdventureWorks/AdventureWorks.Infrastructure/bin/Debug/AdventureWorks.Infrastructure.pdb
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.Infrastructure.pdb
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.IntegrationTest.dll
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.IntegrationTest.dll.config
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.IntegrationTest.dll.VisualState.xml
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.IntegrationTest.pdb
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.Model.dll
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.Model.pdb
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.DataAccess.dll
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.DataAccess.pdb
/AdventureWorks/AdventureWorks.IntegrationTest/bin/Debug/AdventureWorks.Infrastructure.dll
/AdventureWorks/AdventureWorks.Model/bin/Debug/AdventureWorks.Model.pdb
/AdventureWorks/AdventureWorks.Model/bin/Debug/AdventureWorks.Model.dll
/AdventureWorks/AdventureWorks.Model/bin/Debug/AdventureWorks.Model.dll.config
/AdventureWorks/AdventureWorks.UnitTest/bin/Debug/AdventureWorks.UnitTest.pdb
/AdventureWorks/AdventureWorks.UnitTest/bin/Debug/AdventureWorks.DataAccess.dll
/AdventureWorks/AdventureWorks.UnitTest/bin/Debug/AdventureWorks.DataAccess.pdb
/AdventureWorks/AdventureWorks.UnitTest/bin/Debug/AdventureWorks.Infrastructure.dll
/AdventureWorks/AdventureWorks.UnitTest/bin/Debug/AdventureWorks.Infrastructure.pdb
/AdventureWorks/AdventureWorks.UnitTest/bin/Debug/AdventureWorks.Model.dll
/AdventureWorks/AdventureWorks.UnitTest/bin/Debug/AdventureWorks.Model.pdb
/AdventureWorks/AdventureWorks.UnitTest/bin/Debug/AdventureWorks.UnitTest.dll
/AdventureWorks/AdventureWorks.UnitTest/bin/Debug/AdventureWorks.UnitTest.dll
