<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net"  type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>
	<log4net>
		<!--<root>
      -->
		<!--ALL DEBUG INFO WARN ERROR FATAL OFF -->
		<!--
      -->
		<!--Only level equal or more serious than WARN will be recored-->
		<!-- Don't use root setting!
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>-->
		<logger name="Default">
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender" />
		</logger>
    <logger name="Integration_Test">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <!--<logger name="PortCache">
			<level value="ALL" />
			<appender-ref ref="PortCacheAppender" />
		</logger>
		<logger name="PortCalc">
			<level value="ALL" />
			<appender-ref ref="PortCalcAppender" />
		</logger>
		<logger name="PortCalcStat">
			<level value="ALL" />
			<appender-ref ref="PortCalcStatAppender" />
		</logger>
		<logger name="PortCalcPdf">
			<level value="ALL" />
			<appender-ref ref="PortCalcPdfAppender" />
		</logger>
		<logger name="PortService">
			<level value="ALL" />
			<appender-ref ref="PortServiceAppender" />
		</logger>
		<logger name="PortPdf">
			<level value="ALL" />
			<appender-ref ref="PortPdfAppender" />
		</logger>
		<logger name="AggregationLogger">
      <level value="WARN" />
      <appender-ref  ref="AggregationAppender" />
    </logger>-->

		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="../../Log/integrate_test.log" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="MaximumFileSize" value="3500KB" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d{MM/dd/yyyy HH:mm:ss,fff}][%-5p]:%m%n" />
			</layout>
		</appender>

		<!--<appender name="PortCacheAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="./Log/PortCacheLog.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="MaximumFileSize" value="3500KB" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d{MM/dd/yyyy HH:mm:ss,fff}][%-5p]:%m%n" />
			</layout>
		</appender>

		<appender name="PortCalcAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="../Log/PortCalcLog.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="MaximumFileSize" value="3500KB" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d{MM/dd/yyyy HH:mm:ss,fff}][%-5p]:%m%n" />
			</layout>
		</appender>

		<appender name="PortCalcStatAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="../Log/PortCalcStatLog.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="MaximumFileSize" value="3500KB" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d{MM/dd/yyyy HH:mm:ss,fff}][%-5p]:%m%n" />
			</layout>
		</appender>

		<appender name="PortCalcPdfAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="../Log/PortCalcPdfLog.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="MaximumFileSize" value="3500KB" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d{MM/dd/yyyy HH:mm:ss,fff}][%-5p]:%m%n" />
			</layout>
		</appender>

		<appender name="PortServiceAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="../Log/PortServiceLog.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="MaximumFileSize" value="3500KB" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d{MM/dd/yyyy HH:mm:ss,fff}][%-5p]:%m%n" />
			</layout>
		</appender>

		<appender name="PortPdfAppender" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="../Log/PortPdfLog.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Size" />
			<param name="MaxSizeRollBackups" value="100" />
			<param name="MaximumFileSize" value="3500KB" />
			<param name="StaticLogFileName" value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="[%d{MM/dd/yyyy HH:mm:ss,fff}][%-5p]:%m%n" />
			</layout>
		</appender>-->
	</log4net>
</configuration>
